/* Write your CSS here */
/* Write your CSS here */
.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  height: 100vh;
}
.heading 1 {
}

.not-heading {
  color: white;
  font-size: 30px;
  font-weight: 600;
}
